*{
    font-family: "Rimouski";
}

body{
    background-color: black;
}
.noti2 {
    float: right;
    position: absolute;
    width: 350px;
    margin-top: 5%;
    margin-left: 80%;
    padding-top: 3%;
    padding-bottom: 1.4%;
    padding-right: 2%;
    padding-left: 2%;
    
    
    }
    #noti3 {
    margin: 5%;
    padding: 0%;
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: large;
    }
   
   
    
    
    #noti4{
    margin: 0;
    margin-bottom: 60px;
    padding: 3%;
    margin-left: 2%;
    list-style: none;
    color: #54B435;
    }
.container{
    width: 500px;
    background-color: black;
    float: left;
    /* display: block; */
    display: inline;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom : 50px;
}
.date{
  margin-top: 1%;
  float: right;
  margin-right: 40px;
  color: white;
  position: absolute;
  margin-left: 50%;
}

.time{
  font-size: 1.6em;
  float: right;
  position: absolute;
  right: 1px;
  top: 1px;
  color: white;
  padding: 10px ;
  margin-right: 40px;
  margin-top: 10px;


}

.app-title{
    position: absolute;
    width: 400px;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin-left: 37%;
    font-size: 1.6em;
    color: white;
    text-align: center;
    margin-top: 1%;
}
.app-title p{

}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    height: 300px;
    background-color: black;
    width: 400px;


}

.weather-icon{
    width: 400px;
    height: 50px;
}

.weather-icon img{
    display: block;
    margin-left: 20%;
    height: 100px;
}

.temperature-value{
    width: 300px;
    height:50px;
    margin-top: .1%;
    
}

.temperature-value p{
    margin-left: 1.5em;
    padding: 0;
    margin-top: 0;
    color: white;
    font-size: 5em;
    text-align: center;
    cursor: pointer;
    cursor: cell;
}

.temperature-value p:hover{



}

.temperature-value span{
    font-size: 0.5em;
    color: white;

}

.temperature-description{

}

.temperature-description p{
    margin-left: 1em;
    margin-top: 1em;
    padding: 5px;
    font-size: 1.2em;
    color: #A73489;
    text-align: center;

}

.location p {
    position: absolute;
    margin-top: 0%;
    padding-left: 10%;
    color: #293251;
    text-align: center;
    font-size: 1em;
}

#dateDisplay{
  font-size: 2em;
  color: white;
  
}
#timeDisplay{
  font-size: 1em;
  color: white;
  
}

#topnews{
    color: #A73489;
    font-size: 20px;
    height: 25px;
    
}

#newsAccordion {
    font-size: .8em;
    color: 	#D7DBDD;
    margin: 2%;
}

#news-container{
    position: absolute;
    left: 2%;
    margin-top: 13%;
    
    
    
}

  *,
*:before,
*:after{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.container1{
background-color: #ffffff;
padding: 30px 30px;
width: 400px;
position: absolute;
transform: translate(-50%,-50%);
margin-top: 25%;
margin-left: 50%;
border-radius: 10px;
box-shadow: 25px 25px 30px rgba(255, 255, 255, 0.15);
}
.head{
background: #FD5D5D;
color: white;
text-align: center;
font-size: 23px;
letter-spacing: 1px;
margin-bottom: 40px;
padding: 2%;
}
.row{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 40px;
}
.row span{
font-weight: 500;
}
input[type="range"]{
width: 70%;
height: 3.5px;
-webkit-appearance: none;
appearance: none;
background-color: #dcdcdc;
border-radius: 3px;
outline: none;
}
input[type="range"]::-webkit-slider-thumb{
-webkit-appearance: none;
appearance: none;
height: 15px;
width: 15px;
background-color: #1c1c1c;
border-radius: 50%;
cursor: pointer;
}
#result{
font-size: 30px;
font-weight: 700;
letter-spacing: 1px;
text-align: center;
color: #0be881;
}
#category{
font-size: 18px;
text-align: center;
letter-spacing: 1px;
}
.display{
box-shadow: 0 0 20px rgba(0,139,253,0.25);
margin-bottom: 60px;
}
#id1{
height:8%;
width:60px;
text-align: center;
padding: .2%;
background-color: #3DB2FF;
color: white;
border-color: rgb(1, 38, 106);
border-radius: 10%;
font-size:larger;

}



/* todolist styles */
.to-do-entry{
    background: #1c1c1c;
}

.todocontainer {
    padding: 0 60px;
    }
    /*
    / ****************** To do
    */
    .to-do {
    position: fixed;
    width: 550px;
    margin-top: 5%;
    margin-left: 32%;
    padding-top: 3%;
    padding-bottom: 1.4%;
    padding-right: 2%;
    padding-left: 2%;
    background:#85F4FF;
    border-radius: 5%;
    
    }
    .to-do-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    }
    /*
    / ****************** Task holder
    */
    .to-do-task-holder {
    position: relative;
    margin-bottom: 60px;
    
    }
    #task-holder {
    width: 100%;
    height: 45px;
    padding-left: 10px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    
    }
    /*
    / ****************** Add
    */
    #add-to-do {
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    right: 10px;
    transform: translateY(50%);
    

    }
    /*
    / ****************** Placeholder
    */
    ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
    }
    ::-moz-placeholder {
    color: rgba(255, 255, 255, .5);
    }
    :-ms-input-placeholder {
    color: rgba(255, 255, 255, .5);
    }
    :-moz-placeholder {
    color: rgba(255, 255, 255, .5);
    }
    /*
    / ****************** SVG
    */
    svg {
    width: 25px;
    fill: #fff;
    stroke: #fff;
    
    }
    /*
    / ****************** Editing/Delete
    */
    .edit-holder {
    display: none;
    
    }
    .editing .edit-holder {
    display: block;
    
    }
    .editing label {
    display: none;
    }
    .edit-to-do,
    .delete-to-do {
    float: right;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    }
    /*
    / ****************** Completion
    */
    li.completed label {
    text-decoration: line-through;
    }
    #uncompleted-tasks,
    #completed-tasks {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
    }
    #uncompleted-tasks li,
    #completed-tasks li {
    padding: 20px 60px;
    margin-bottom: 10px;
    background: #BB9981;

    }
    #uncompleted-tasks li div,
    #uncompleted-tasks li input[type="checkbox"],
    #completed-tasks li div,
    #completed-tasks li input[type="checkbox"] {
    margin-right: 15px;
    }
    #uncompleted-tasks li div:first-of-type,
    #completed-tasks li div:first-of-type {
    margin-right: 0;
    }
    #uncompleted-tasks li input[type="checkbox"],
    #completed-tasks li input[type="checkbox"] {
    margin-top: 6px;
    margin-right: 20px;
    }

    #todobtn{
height:8%;
width:110px;
text-align: center;
padding: .5%;
background-color: #E45826;
color: white;
border-color: rgb(1, 38, 106);
border-radius: 10%;
font-size:larger;
    }

    #id4{
        margin-top: 10%;}